@import url("https://fonts.googleapis.com/css?family=Roboto:300|Ubuntu&display=swap");

main header {
    min-height: 100vh;
    font-family: 'Ubuntu';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: black;
    margin: -8px 0 0 0;
    overflow-y: hidden;
}

main header .heading {
    font-size: 4rem;
}

main header .subtitle {
    font-size: 2.5rem;
}

main section {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 40px;
    border-radius: 10px;
    background-color: #6161618f;
}

body,
html {
    scroll-behavior: smooth;
    background-image: url(bggif.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 8px;
    font-family: 'Roboto';
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #616161;
    list-style-type: none;
    font-size: 1.5rem;
    margin: 0 8px;
    border-radius: 5px;
}

nav ul li a {
    color: white;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: black;
}